/src/vendor
/node_modules
/src/node_modules
/src/.env
/src/public/storage
/src/storage/*.key
/src/storage/oauth-private.key
/src/storage/oauth-public.key
/src/storage/debugbar
/src/storage/framework/cache
/src/storage/framework/sessions
/src/storage/framework/views
/src/storage/logs
.phpunit.result.cache

# IDE/Editor
.idea
.vscode

# Docker bind mounts
docker-compose.override.yml
